<!DOCTYPE html>
<html>
<head>
	<title> Welcome to the Gossip Project !</title>
</head>
<body>

	<h1> Bienvenue <%=@first_name %> ! </h1>
	<p> Ici c'est notre super site de potins, il est chouette nan ? </p>

</body>
</html>